*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1240px;
}

.header__info{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

.header__info div{
    border-right: 1px solid #E2E2E2;
    padding-right: 25px;
}

.header__info div:last-child{
    border: none;
    padding-right: 0;
}

.language{
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.language li:last-child{
    margin-top: 5px;
    background: #4AD295;
    border-radius: 2px;
    color: #fff;
    padding: 0 6px;
}

.course{
    font-size: 15px;
    line-height: 19px;
    color: #393939;
}

.course li:last-child{
    margin-top: 4px;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}

.social a{
    display: block;
}


.phone{
    display: flex;

}

.phone li{
    margin-right: 15px;
}

.header__form{
    display: flex;
}


input{
    background: #EFF3F6;
    border-radius: 2px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 20px;
    width: 185px;
}

.label__img{
    background: #DD4053;
    border-radius: 2px;
    background-image: url('../img/book\ 1.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 55px;
    height: 55px;
    margin-right: 30px;
}

.label__img2{
    background: #4AD295;
    border-radius: 2px;
    background-image: url('../img/Frame\ 18.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 55px;
    height: 55px;
    margin-right: 30px;
}


.header__nav{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 30px;
}

.header__nav .nav__list{
    display: flex;
}

.nav__list li{
    margin-right: 56px;
}

.nav__list li:last-child{
    margin-right: 0;
}

.nav__list a{
    font-size: 15px;
    line-height: 19px;
    color: #616161;
    text-decoration: none;
}